@import "https://fonts.googleapis.com/css?family=Roboto:400,700i";

body {
  font-family: "Roboto", sans-serif;
}

table {
  border-collapse: collapse;
  width: 100%;
}

thead {
  border-bottom: 2pt solid black;
}

td,
th {
  border: none;
  padding: 10px;
  text-align: left;
  border-bottom: 1pt solid #e5e5e5;
}
tr:nth-child(even) {
  background-color: #f9f9f9;
}
th:hover {
  background: #ecf0f1;
}

.container {
  max-width: 1670px;
  display: flex;
  flex-flow: row wrap;
  text-align: center;
  margin: auto;
}

.form-control {
  margin: 10px;
}

.input-group {
  width: 100%;
  text-align: right;
}
